[submodule "support/oxford"]
	path = support/oxford
	url = https://github.com/apanna/oxford.git
[submodule "support/scanSupport"]
	path = support/scanSupport
	url = https://github.com/apanna/scanSupport.git
[submodule "support/srsDS345"]
	path = support/srsDS345
	url = https://github.com/apanna/srsDS345.git
[submodule "support/keithleyK2410"]
	path = support/keithleyK2410
	url = https://github.com/apanna/keithleyK2410.git
[submodule "support/procServControl"]
	path = support/procServControl
	url = https://github.com/apanna/procServControl.git
[submodule "support/nikonKsSync"]
	path = support/nikonKsSync
	url = https://github.com/apanna/nikonKsSync.git
[submodule "support/runControl"]
	path = support/runControl
	url = https://github.com/apanna/runControl.git
[submodule "support/galil"]
	path = support/galil
	url = https://github.com/apanna/galil.git
[submodule "support/sri"]
	path = support/sri
	url = https://github.com/andrewgomella/sri.git
